@import "./variables";

html,body,#app {
  width: 100%;
  height:100%;
  overflow: hidden;
}

body,html,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,legend,button
form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
  list-style-type:none;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #f1f1f1;
}

/* 短引用的内容可取值：''或"" */
q:before,q:after {content:”;}  

/* 缩写，图片等无边框 */
fieldset,img,abbr,acronym {border: 0 none;}
abbr,acronym {font-variant: normal;}
legend {color:#000;}

/* 清除列表样式 */
ol,ul {list-style: none;}  

/* 输入控件字体 */
input,button,textarea,select,optgroup,option {
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
}

/* 标题元素样式清除 */ 
h1,h2,h3,h4,h5,h6 {   
  font-weight: normal;   
  font-size: 100%;   
}   


/* 链接样式，颜色可酌情修改 */
del,ins,a { color: #343440;text-decoration: none;}
a:link {color:#009;}
a:visited {color:#800080;}
a:hover,a:active,a:focus {color:#c00; text-decoration:underline;}

/* 鼠标样式 */
input[type="submit"] {cursor: pointer;}
button {cursor: pointer;}
input::-moz-focus-inner { border: 0; padding: 0;}

.clear {clear:both;}


// 浮动
.float-r {
  float: right;
}

// 浮动
.float-l {
  float: left;
}

// 字体加粗
.fw-b {
  font-weight: bold;
}

// 文章一行显示，多余省略号显示
.title-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 组件-page
.com-page{
  height: 100%;
  // 组件-page
  .com-container{
    height: 100%;
  }
}

// 颜色
@each $colorkey, $color in $colors {
  .text-#{$colorkey} {
    color: $color;
  }

  .bg-#{$colorkey} {
    background-color: $color;
  }
}

// 对齐
@each $var in (left,center,right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

// flex
@each $key, $value in $flex-jc {
  .jc-#{key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

// 字体
@each $fontkey, $fontvalue in $font-sizes {
  .fs-#{$fontkey} {
    font-size: $fontvalue * $base-font-size;
  }
}

// .mt-1 => margin top
// spacing
@each $typekey,$type in $spacing-types {
  //.m-1
  @each $sizekey,$size in $spacing-sizes {
    .#{$typekey}-#{$sizekey} {
      #{$type}:$size * $spacing-base-size;
    }
  }

  //.mx-1
  @each $sizekey, $size in $spacing-sizes {
    .#{$typekey}x-#{$sizekey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }

    .#{$typekey}y-#{$sizekey}{
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  .#{$typekey} {
    #{$type}: 0;
  }
}